body{
    font-family: Microsoft JhengHei;
}
.down{
	/*背景圖片*/
	background-image: url(https://images.pexels.com/photos/2280613/pexels-photo-2280613.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.control{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;   
    width: 1200px;
    
}
.store{
    margin-left:300px;
}
.store,.list,.analysis{
    padding-top: 50px;
    height: 100px;
    background: #eae6e5;
    width: 300px;
    float: left;
    opacity:0.8;
}
.addform{
    font-size: 20px;
    height: 350px;
    width: 400px;
    margin-top: 100px;
    margin-left: 550px;
    background: #62929e;
    opacity:0.7;
    line-height: 2.5em;
}

.store_table{
    padding-top: 30px;
    margin-left: 400px;
    margin-top: 20px;
    opacity:0.9;
    
  
    
}
.down_table{
    height:45px;
    width: 120px;
    margin-top: 20px;
    margin-left: 650px;
    padding-top: 10px; 
    padding-left: 50px;
    background-color: #27476e;
    opacity:0.7;
 
}
.updateform{
    font-size: 20px;
    height: 450px;
    width: 400px;
    margin-top: 100px;
    margin-left: 550px;
    background: #62929e;
    opacity:0.7;
    line-height: 2.5em;
}
.updateform_sub{
    margin-left: 300px;
}